/* Sticky footer styles
-------------------------------------------------- */
@charset "UTF-8";

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot");
  src: url("../fonts/open-sans/Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Light/OpenSans-Light.woff2") format("woff2"), url("../fonts/open-sans/Light/OpenSans-Light.woff") format("woff"), url("../fonts/open-sans/Light/OpenSans-Light.ttf") format("truetype"), url("../fonts/open-sans/Light/OpenSans-Light.svg#Light") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot");
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2") format("woff2"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff") format("woff"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.ttf") format("truetype"), url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.svg#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot");
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff2") format("woff2"), url("../fonts/open-sans/Regular/OpenSans-Regular.woff") format("woff"), url("../fonts/open-sans/Regular/OpenSans-Regular.ttf") format("truetype"), url("../fonts/open-sans/Regular/OpenSans-Regular.svg#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot");
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff2") format("woff2"), url("../fonts/open-sans/Italic/OpenSans-Italic.woff") format("woff"), url("../fonts/open-sans/Italic/OpenSans-Italic.ttf") format("truetype"), url("../fonts/open-sans/Italic/OpenSans-Italic.svg#Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/open-sans/Semibold/OpenSans-Semibold.svg#Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot");
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"), url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.svg#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.eot");
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/Bold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/open-sans/Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/open-sans/Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/open-sans/Bold/OpenSans-Bold.svg#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"), url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.svg#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot");
  src: url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.ttf") format("truetype"), url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.svg#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot");
  src: url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }
/* END Extrabold Italic */

html,
body {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

/* Styling for the ngProgress itself */
#ngProgress {
  background-color: #00afff !important;
  box-shadow: none !important;
  color: #000000 !important;
  height: 3px !important;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 99998;

  /* Add CSS3 styles for transition smoothing */
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 113px;
  left: 0;
  right: 0;
  z-index: 99999;
}

/* QR modal */
#qr-canvas {
  display: none;
}
#qrcode-scanner-video {
  margin: 0 auto 10px auto;
  display: block;
}
#file-input-wrapper {
  padding: 0;
  width: 100%;
}
#file-input-wrapper input {
  opacity: 0;
  padding: 5px;
}
#file-input-wrapper span {
  padding-top: 5px;
  width: 100%;
}
#file-input-wrapper i {
  display: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -51px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;
}

.m10h { margin: 0 10px; }
.m20h { margin: 0 20px; }
.m5v { margin: 5px 0; }
.m20v { margin: 20px 0; }
.m10v { margin: 10px 0; }
.m50v { margin: 50px 0; }
.m8b { margin-bottom: 8px; }
.m10b { margin-bottom: 10px; }
.m10l { margin-left: 10px; }
.m0t { margin-top: 0; }
.m20t { margin-top: 20px; }
.m20ri { margin-right: 20px !important; }
.vm { vertical-align: middle; }
.pa {position: absolute;}
.pr {position: relative;}

a {
  color: #00afff;
}

.bgwhite {
  background-color: white;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
margin-left: 0;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #e7e7e7;
}
.table tr.borderless>td {
    border: none;
}
.navbar { min-height: 64px; }
.navbar-default .navbar-toggle { 
  border: none;
  margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #000000;
}

.navbar-default {
  background-color: #000000;
  margin: 0;
  border: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #000000;
  color: #00afff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #000000;
  color: #00afff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:active,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #000000;
  color: #00afff;
}

.dropdown-menu {
  background-color: #f4f4f4;
  font-size: inherit;
}

.dropdown-menu>li>a:hover {
  background-color: #00afff;
}

.navbar-header {
  width: 100%;
}

.navbar-form .form-group {
  display: block;
}

.navbar-form {
  margin-top: 0;
  padding-left: 0;
}

.nav-tabs>li>a {
  color: #555;
}

.nav-tabs>li.active>a {
  color: #00afff;
}

.nav-tabs.nav-justified>li>a:hover {
  cursor: pointer;
}

.explorer {
  background-image: url(../img/r/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  height: 50%;
  width: 160px;
}

.navbar-default, .navbar-default {
  color: #000000;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar-form .form-control {
  background-color: #00afff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 0;
  -webkit-box-shadow: 1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  -moz-box-shadow:    1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
  box-shadow:         1px 1px 0px 0px rgba(255,255,255,0.41), inset 1px 1px 3px 0px rgba(0,0,0,0.10);
}

.navbar-nav>li>a {
  padding-top: 8px;
  padding-bottom: 22px;
}

.navbar-collapse {
  float: left;
  width: 100%
}

#search-form {
  color: #fff;
}

#search.loading {
  background-image: url('../img/loading.gif');
  background-position: 5px center;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.loader-gif {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: transparent url(../img/loading.gif) no-repeat;
  margin-left: 5px;
  position: relative;
  top: 7px;
}

#search {
  color: #fff;
}

#search::-webkit-input-placeholder {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 100;
}

#search::-moz-placeholder {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.status {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #004666;
  border-radius: 3px;
  margin: 15px 0;
  padding: 8px 10px;
  font-size: 12px;
  color: #eee;
  text-align: center;
  float: right;
}

.status .tooltip {
  margin: 0;
}

.status-mobile {
  display: none;
  position: absolute;
  left: 60px;
  right: 60px;
  height: 34px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  padding: 7px 5px;
  height: 50px;
}

.status-mobile > div {
  margin-bottom: 3px;
}

.connection-status {
  width: 100%;
  padding: 0;
}

.settings-select {
  border: 1px solid #ddd;
}

.col-gray {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #F4F4F4;
  border-radius: 5px;
  padding: 14px;
  border: 1px solid #eee;
}

.col-gray-responsive {
  width: auto;
}

.col-gray-fixed {
  margin-top: 15px;
  position: fixed;
  width: 250px;
  border: 1px solid #eee;
  z-index: 1;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line20 {
  border: 1px solid #D4D4D4;
  margin-bottom: 15px;
}

.line10 {
  border: 1px solid #EAEAEA;
  margin: 10px 0;
}

.block-id {
  background-color: #000000;
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  width: 165px;
  color: #fff;
  text-align: center;
}

.block-id span {
  font-size: 40px;
  margin: 30px 0;
}

.block-id h2 {
  color: #FFFFFF;
  font-weight: bold;
  line-height: 30px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}

.icon-block {
  color: #FFFFFF;
  font-size: 35px;
  margin-top:  10px;
}

.icon-block h3 {
  color: #fff;
}

.block-tx {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #F4F4F4;
  border-radius: 2px;
  margin: 20px 0 10px;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #eee;
}

.uib-datepicker-popup.dropdown-menu {
  margin-left: -210px;
}

.btn {
  border-radius: 2px;
}

.btn-primary,
.btn-primary:active:focus {
  background-color: #00afff;
  border: 1px solid #00afff;
  color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary {
  background-color: #fff;
  border: 1px solid #00afff;
  color: #00afff;
}

.btn-info {
  background-color: #00afff;
  border: 1px solid #00afff;
}

.btn-info:hover {
  background-color: #fff;
  border: 1px solid #00afff;
  color: #00afff;
}

.btn-settings {
  padding: 1.5px 12px;
  font-size: 12px;
}

.txvalues {
  display: inline-block;
  padding: .7em 2em;
  font-size: 13px;
  text-transform: uppercase;
  font-weight:100;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.txvalues-primary {
  background-color: #004665;
}

.txvalues-default {
  background-color: #EBEBEB;
  color: #000000;
}

.txvalues-success {
  background-color: #00afff;
}

.txvalues-danger {
  background-color: #ab1c1c;
}

.txvalues-normal {
  background-color: transparent;
  text-transform: none;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
}
.progress-bar-info {
  background-color: #00afff
}

/* Set the fixed height of the footer here */
#footer {
  background-color: #000000;
  color: #fff;
  height: 51px;
  overflow: hidden;
}

.line-footer {
  border-top: 2px dashed #ccc;
}

#footer .links {
  color: #808080;
  font-size: 10px;
}

#footer .links a {
  color: #ccc;
}

#footer .links a.selected {
  color: #eee;
  font-weight: bold;
}

#footer .links a:hover {
  text-decoration: none;
  color: #fffffe;
}

.line-bot {
  border-bottom: 2px solid #EAEAEA;
  padding: 0 0 10px 0;
}

.line-mid {
  padding: 15px;
}

.line-top {
  border-top: 1px solid #EAEAEA;
  padding: 15px 0 0 0;
}

.alert-info {
  color: #004665;
  background-color: #cce5ff;
  border: none;
}

.alert-danger {
  color: #bf6969;
  background-color: #f2dede;
  border: none;
}

.block-pagination {
  float: right;
}

/* Removes the clear button from date inputs */
input[type='date']::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type='date']::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
  width: 34px;
  height: 30px;
}

input[type='date']::after {
  position: absolute;
  right: 0;
  content: '\e109';
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  color: #ffffff;
  background-color: #00afff;
  padding: 9px 11px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

input[type='date']:focus {
  outline: none;
}

.datepicker-bs {
  position: relative;
  margin-top: -2px;
}

.datepicker-native {
  position: relative;
  margin-top: -2px;
  height: 30px;
  padding: 6px 0;
  border: none;
}

.datepicker-native-utc {
  position: relative;
  left: -74px;
}

.uib-datepicker .btn-info.active {
  color: #fff;
  background-color: #00afff;
  border-color: #00afff;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 130px 15px 0;
}

#footer > .container {
  padding: 0 15px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.code {
  font-size: 80%;
}

.address {
  font-size: 11px;
}

.no_matching {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: none;
  border: 1px solid #64920F;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
  top: 45px;
  width: 300px;
}

/*Animations*/
.fader.ng-enter {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.fader.ng-enter-active {
  opacity: 1;
}

.tx-bg {
  background-color: #F4F4F4;
  left: 0;
  min-height: 340px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -9999;
}

.status .t {
  color: white;
}

.status .text-danger {
  background: #ac1b1b;
}

.status .text-warning {
  background: yellow;
  color: black;
}

.text-danger {
  color: #ac1b1b;
}

.text-success {
  color: #004665;
}

.btn-copy {
  color: #9b9b9b;
  display: inline-block;
  height: 16px;
  width: 16px;
  outline: none;
  vertical-align: sub;
}

.btn-expand {
  color: #9b9b9b;
  vertical-align: middle;
}

.btn-copy:hover, .btn-expand:hover {
  color: #000;
  text-decoration: none;
}

.btn-copy {
  background: transparent url('../img/copy.png') center center no-repeat;
}

.btn-copy .tooltip {
  display: block;
  margin-left: 20px;
  margin-top: -2px;
  opacity: 0;
}
.btn-copy.zeroclipboard-is-hover {
  color: #2a6496;
}
.btn-copy.zeroclipboard-is-active .tooltip {
  opacity: 1;
}

.tx-id {
  background-color: #000000;
  border: 3px solid #FFFFFF;
  margin: 0 auto;
  width: 165px;
  color: #FFFFFF;
  text-align: center;
}

.tx-id span { 
  font-size: 40px;
  margin: 30px 0;
}

.page-header {
  margin-top: 0;
}

.panel {
  margin-bottom: 1em;
}

.panel-body {
  padding: 0.7em;
  word-wrap: break-word;
}

/* Index */
#home .btn-more {
  border-top: 1px solid #dddddd;
  margin: 30px auto 0;
  text-align: center;
  width: 90%;
}
#home .btn-more .btn-primary {
  margin-top: -23px;
}

@keyframes rotateThis {
	from { transform: scale( 1 ) rotate( 0deg );   }
	to   { transform: scale( 1 ) rotate( 360deg ); }
}

@-webkit-keyframes rotateThis {
	from { -webkit-transform: scale( 1 ) rotate( 0deg );   }
	to   { -webkit-transform: scale( 1 ) rotate( 360deg ); }
}

.icon-rotate {
	animation-name: rotateThis;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: rotateThis;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.transaction-vin-vout {
}

.v_highlight {
  margin-bottom: 1em;
  padding: 1em 0;
  background-color: #e9e9e9;
  overflow: hidden;
  color: #000000;
}

a.v_highlight_more {
  background-color: #e7e7e7;
  color: #000000;
}

.secondary_navbar {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 113px;
  left: 0;
/*  text-align: center; */
  z-index: 1000;
  margin: 0 auto;
  -moz-box-shadow:    0px 1px 4px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 1px 4px 0px rgba(0,0,0,0.20);
}

.secondary_navbar .container {
  margin: 0 auto;
  padding: 1.8em 20px;
}

.secondary_navbar h3, .secondary_navbar p, .secondary_navbar .lead {
  margin: 0;
}

.secondary_navbar p {
  line-height: 1.9em;
}

.hide_snavbar {
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  position: absolute;
  right: 25px;
  padding: 5px 10px;
  background: #fff;
  -moz-box-shadow:    0px 2px 3px 0px rgba(0,0,0,0.20);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
  box-shadow:         0px 2px 3px 0px rgba(0,0,0,0.20);
}

#search-form-mobile {
}

@media (max-width: 991px) {
  .navbar-form {
    width: 50%;
  }
  .navbar-form .form-control {
    width: 100%;
    box-shadow: 1px 1px 0 0 rgba(0, 176, 255, 0.75), inset 1px 1px 3px 0 rgba(0,0,0,.10);
  }
  .btn-copy {
    display: none;
  }
  .col-gray-fixed {
    position:static;
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
  .m50v {
    margin: 15px 0;
  }
  .block-id span {
    font-size: 24px;
    margin: 10px 0;
  }
  .icon-block {
    font-size: initial;
    margin: 10px 0;
  }
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .navbar-default .navbar-nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-form {
    width: auto;
  }
  .nav>li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .form-group {
    margin-top: 10px;
  }
  .uib-datepicker-popup.dropdown-menu {
    margin-left: -195px;
  }
  .status {
    display: none;
  }
  .status-mobile {
    display: inline;
  }
  .connection-status {
    padding-top: 10px;
  }
  #wrap>.container {
    padding: 50px 15px 0;
  }
  #ngProgress-container {
    top: 50px;
  }
  #search::-webkit-input-placeholder {
    color: #cccccc;
  }

  #search::-moz-placeholder {
    color: #cccccc;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  .explorer {
    background-image: url(../img/r/logo-sm.svg);
    top: 12px;
    left: 15px;
    height: 100%;
    width: 30px;
  }
  .navbar-nav {
    margin-bottom: 0;
  }
  .navbar-nav .navbar-right {
    margin-top: 0;
  }
  .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-default .navbar-toggle {
    margin-top: 7px;
  }
  .navbar {
    min-height: 50px;
  }
  #search { color: #000; }
  .txvalues {
    display: block;
    margin: 5px;
    padding: 0.5em 2em;
    font-size: 11px;
  }
  .settings-select {
    direction: rtl;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #c5c5c5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #c5c5c5;
    background-color: #00afff;
  }
  .txvalues {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .txvalues-success {
    background: none;
    color: #00afff;
  }
  .txvalues-primary {
    background: none;
    color: #004665;
  }
  .txvalues-default {
    background: none;
    color: #A09E9E;
  }
  .txvalues-danger {
    background: none;
    color: #ab1c1c;
  }
  .btn-expand {
    font-size: 18px;
  }
  .btn-settings {
    padding: 0.5px 12px;
    font-size: inherit;
  }
  .checkbox-custom + .checkbox-custom-label:before,
  .radio-custom + .radio-custom-label:before {
    width: 25px;
    height: 25px;
  }
  .block-pagination {
    float: none;
    margin-top: 15px;
  }
  .pager-left {
    float: left;
  }
  .pager-right {
    float: right;
  }
}

@media (min-width: 768px) {
  .navbar-form .form-control {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .navbar-form {
    width: 52%;
  }
}

@media (min-width: 1200px) {
  .col-gray-fixed {
    width: 280px;
  }
  .navbar-form {
    width: 60%;
  }
  .navbar-form .form-control {
    width: 100%;
  }
}
